@import "../global";

.section {
	width: 90%;
	margin: auto;
	padding-top: 30px;
}

.title {
	@include subTitle;
}

.title2 {
	margin-top: 10px;
	@include pageTitle;
}

.question {
	margin-top: 30px;
	line-height: 1.6;
}

.options {
	margin-top: 30px;
}

.optionItem {
	position: relative;
	margin-top: 20px;
}

.label {
	display: block;
	background-color: #eee;
	padding: 20px 20px 20px 50px;
	border-radius: 10px;

	input {
		display: none;
	}

	&::before, &::after {
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
	}

	&::before {
		content: '';
		background-color: #bbb;
		width: 24px;
		height: 24px;
		border-radius: 50%;
	}

}

.checkedLabel {

	&::after {
		content: '\f00c';
		@include fontAwesome;
		color: #fff;
		left: 19px;
		font-size: 16px;
	}
}