@import "../global";

.result {
	text-align: center;
	padding-top: 30px;
}
.title {
	@include subTitle;
}

.title2 {
	margin-top: 10px;
	@include pageTitle;
}

.text {
	margin-top: 30px;
}

.special {
	margin-top: 30px;
}

.back {
	margin-top: 30px;
	@include btn;
}

.number {
	font-size: 30px;
	font-weight: 700;
}