@import "variables";

.layout {
	margin-bottom: 100px;
}
.header {
	display: flex;
	border-bottom: 2px solid;
	height: $headerHeight;
	align-content: center;
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 100%;
		background-color: #eee;

		&:first-of-type {
			border-right: 2px solid;
		}
	}
}

.footer {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: $contentWidth;
	height: $headerHeight;
	background-color: #eee;
	border-top: 2px solid;
}

.progress {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

progress {
	$radius: 15px;
	$bgc: #ddd;
	$bar: #aaa;

	width: 80%;
	border-radius: $radius;
	background-color: $bgc;

	&::-webkit-progress-bar {
		border-radius: $radius;
		background-color: $bgc;
	}

	&::-webkit-progress-value {
		border-radius: $radius;
		background-color: $bar;
	}

	&::-moz-progress-bar {
		border-radius: $radius;
		background-color: $bar;
	}

	&::-ms-fill {
		border-radius: $radius;
		background-color: $bar;
	}
}

.nextBtn {
	margin-top: 30px;
	text-align: center;
}